h1 {
font-size: 40px;
color: #000;
font-family: 'Open Sans';
}
h2 {
font-size: 40px;
color: #000;
font-family: 'Open Sans';
}
h3 {
font-size: 40px;
color: #000;
font-family: 'Open Sans';
}
#boton {
background-color: #FF0000;
color: #fff;
width: 80px;
padding: 10px;
border: 1px solid #000;
border-radius: 2px;
}
p {
font-size: 14px !important;
}